@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900&display=swap&subset=latin-ext');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.get-a-quote{
  width: 1020px;
  height: 654px;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
  padding: 68px 40px;
  text-align: justify;
}

.get-a-quote-intro h2{
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
}
.get-a-quote-intro p{
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  margin: 27px 0px;
}

form,
.contact-info{
  display: inline-block;
}
form{
  width: 66%;
}

.comm-form{
  margin-top: 1px;
  border: none;
}
.comm-form input,
.comm-form textarea,
button{
  width: 100%;
  display: block;
  margin: 16px 0;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  padding: 7px 15px;
}

input[placeholder],
textarea[placeholder]{
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato";
  font-weight: 400;
}

button{
  margin: 0;
  font: bold 14px "Lato";
  color:/*#f7ddda*/#f0d8d9;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#f48c8f;}

input::-moz-placeholder,
textarea::-moz-placeholder {color:#f48c8f;}

.comm-form input{
  height: 38px;
}
.comm-form textarea{
  height: 202px;
}
button{
/*  visibility: hidden;*/
}

.contact-info{
  width: 33%;
  vertical-align: top;
  padding: 16px;
  color: #f0d8d9;
  font-family: "Lato";
  text-align: justify;
}

.contact-info h3{
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
}

.contact-info p{
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 0;
  margin-top:1px;
}

.contact-icon,
.contact-icon-def{
  display: inline-block;
  vertical-align: top;
}

.contact-icon{
  margin-top: 12px;
}

.contact-icon img{
  display: block;
  padding: 7px 0;
}

.contact-icon .location{
  padding: 3px;
}

.contact-icon-def{
  margin-left: 6px;
}

.contact-icon-def p{
  font-size: 12px;
  line-height: 21px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}
.copyright,
.social-media{
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.copyright p{
  padding: 30px 42px;
  font-size: 12px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 400;
}
.social-media{
  text-align: right;
  padding: 23px;
}
.social-media div{
  display: inline-block;
  border-radius: 16px;
  border: 1px solid #666d89;
  width: 30px;
  height: 30px;
  margin:0 2px 0 4px;

}

footer{
  width: 1020px;
  height: 76px;
  background-color: #2d303a;
}
